@using SemanticSearch.Models

<h2 class="content-block">Home</h2>

@(Html.DevExtreme().DataGrid<DictionaryEntry>()
    .ID("grid")
    .ElementAttr(new { @class = "dx-card wide-card" })
    .DataSource(d => d.Mvc()
        .Controller("SampleData")
        .LoadAction("Get")
        .Key("ID")
        .LoadParams(new { searchValue = new JS("getSearchValue") })
    )
    .RemoteOperations(true)
    .ShowBorders(false)
    .Height(600)
    .Columns(columns => {
        columns.AddFor(m => m.ID);
        columns.AddFor(m => m.Name);
        columns.AddFor(m => m.Description);
    })
    .SearchPanel(searchPanel => searchPanel.Visible(true))
    .FilterRow(filterRow => filterRow.Visible(true))
    .HeaderFilter(headerFilter => headerFilter.Visible(true).Search(search => search.Enabled(true)))
    .CustomizeColumns("customizeColumns")
)

<script>
    function getSearchValue() {
        const grid = $('#grid').dxDataGrid('instance')
        return grid.option('searchPanel.text');
    }

    function customizeColumns(columns) {
        columns.forEach(column => {
            column.calculateFilterExpression = function(filterValue, selectedFilterOperation, target) {
                if (target === 'search') {
                    return [this.dataField, '<>', null];
                }

                // Invoke the default implementation for other filter operations
                if(!this.defaultCalculateFilterExpression)
                    return [this.dataField, 'contains', filterValue];
                return this.defaultCalculateFilterExpression.apply(this, arguments);
            }
        });
    }
</script>